doctype html
html
    head
        title HP Education Analysis
        link(rel="stylesheet" href="styles/vendor-aa67210ead.css")
        link(rel="stylesheet" href="assets/chartist.min.css")
        link(rel="stylesheet" href="assets/morris.css")
        link(rel="stylesheet" href="styles/app-fe96e7be2d.css")
        link(rel="stylesheet" href="styles/style.css")
    body
        header
            .page-top.clearfix(scroll-position="scrolled" max-height="50")
                a(href="#/dashboard" class="al-logo clearfix")
                    span HP
                    | Data
                a(href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu)
        .body-bg
        main
            aside.al-sidebar
                ul.al-sidebar-list
                    li
                        h4 District
                        select(class="form-control js-filter" data-type="district")
                    li
                        h4 Block
                        select(class="form-control js-filter" data-type="block")
                    li
                        h4 Cluster
                        select(class="form-control js-filter" data-type="cluster")
                    li
                        h4 School
                        select(class="form-control js-filter" data-type="school_name")
                    li
                        h4 Summer/Winter
                        select(class="form-control js-filter" data-type="summer_winter")
                    li
                        h4 Class
                        select(class="form-control js-filter" data-type="class_code")
                            option(value="") All
                            option(value="1") Class 1
                            option(value="2") Class 2
                            option(value="3") Class 3
                            option(value="4") Class 4
                            option(value="6") Class 6
                            option(value="7") Class 7
                    li
                        h4 Subject
                        select(class="form-control js-filter" data-type="subject")
                            option(value="") All
                            option(value="1") Hindi
                            option(value="2") Maths
                            option(value="3") EVS
                            option(value="4") English
                            option(value="5") SST
                    li
                        h4 Gender
                        select(class="form-control js-filter" data-type="sex")
                            option(value="") All
                            option(value="1") Male
                            option(value="2") Female
                    li
                        h4 Caste
                        select(class="form-control js-filter" data-type="category")
                            option(value="") All
                            option(value="0") SC
                            option(value="1") ST
                            option(value="2") OBC
                            option(value="3") Muslim
                            option(value="4") General
                    li
                        h4 Competency
                        select(class="form-control js-filter" data-type="competency")

            .chart-main.al-main
                .al-content
                    section.chartist
                    .col-md-12
                        .panel
                            .panel-heading
                                h3.panel-title Login to view the analytics
                            .panel-body
                                form
                                    label Username
                                        input.form-control(type="text" placeholder="Username")
                                    label Password
                                        input.form-control(type="password" placeholder="Password")

                                    input.btn.btn-primary(type="submit" value="Login")

        footer.al-footer.clearfix
            .al-footer-right Created with&nbsp;
                i(class="ion-heart")
                | in India
